.interview
{
    width: 100%;
    margin: 0 0 30px;

    &__options-count
    {
        margin: 0 0 20px;
    }

    &__dialog
    {
        display: flex;
    }

    &__options
    {
        width: 300px;
        margin: 0 30px 0 0;

        & button + button
        {
            margin: 10px 0 0;
        }
    }
}
