.interview
{
    display: flex;

    width: 100%;
    margin: 0 0 30px;

    &__options
    {
        width: 300px;
        margin: 0 30px 0 0;

        & button + button
        {
            margin: 10px 0 0;
        }
    }
}
